.container {
	min-height: 100vh;
	overflow:auto;
}
div {
    text-align: center;
	position:relative;
}
.header {
	overflow:auto;
	position:relative;
	background-color: skyblue;
	clear:both;
	min-height:100px;
}
.footer {
	overflow:auto;
	position:relative;
	background-color: skyblue;
	clear:both;
	min-height:100px;
}
.footerDiv{
	width:75%;
	float:left;
}
.main{
	overflow:auto;
	position:relative;
	background_color: grey;
	min-height: 550px;
}
.h {
	background-color: white;
	align-self: center;
	padding: 20px;
    margin: 1em 20px 1em 0px;
}
.hX {
	text-align: center;
}
.hY {
	
	text-align: right;
}
.footerHeadline{
	width:25%;
	float:right;
}
.menu{
	max-width:75%;
	float:left;
}
.menu ul li {
	display: inline;
    font-size: 20px;
    margin: 10px;
}
.headerHeadline{
	width:25%;
	float:right;
}
.main{
}
.four {
	float:right;
	width:25%;
	min-height:550px;
	background-color: peachpuff;
}
.six {
	float:inherit;
	width:100%;
	min-height:80px;
	background-color: aquamarine;
}
.two {
	float:left;
	width:35%;
	background-color: peachpuff;
	min-height:470px;
}
.three {
	background-color: aquamarine;
	min-height:40px;
}
.five {
	float:inherit;
	background-color: white;
	min-height:430px;
}
.not4 {
	float:left;
	width:75%;
	min-height:550px;
}
.not6 {
	width:100%;
	min-height:470px;
}
.not2 {
	float:right;
	width:65%;
	min-height:470px;
}